html body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #afafaf;
  color: #2D3E40;
}

#title {
  background-color: white;
  margin: 10px auto 0;
  border: 1px double black;
  border-radius: 10px;
  width: 200px;
  height: 75px;
  line-height: 75px;
}
h1 {
  margin: auto;
  font-family: sans-serif;
  color: #000d61
}

h4 {
  font-family: sans-serif;
}

#appendTasksDiv {
  text-align: center;
}

table {
  margin:  0 auto 10px;
  background-color: #A3DEE5;
  border-collapse: collapse;
  font-family: sans-serif;
  max-width: 500px;
  color: #2D3E40;
  border-radius: 10px;
}

table, th, td {
  border: 1px solid black;
  padding:4px;


}

th {
  background-color: #5B7B7F;
  color: white;
  font-size: 24px;
  letter-spacing: 0.15em;
  font-weight: normal;

}

.completed {
  background-color: rgb(210, 210, 210);
}

.high {
  background-color: #26297a;
  color: white;
}

.medium {
  background-color: #A3DEE5;
}
 .low {
   background-color: #a9cef9;
 }
button {
  background-color: #ececec;
  font-family: sans-serif;
  border: 0px;
  border-radius: 5px;
  margin:0px 5px;
}
